@model Entities.Models.ViewModels.PackageViewModel



<main id="content" class="site-main">
    <!-- Home slider html START -->
    <section class="home-slider-section">
        <div class="home-slider">
            <div class="home-banner-items">
                <div class="banner-inner-wrap" style="background-image: url(https://d3e6o3xmbgc08e.cloudfront.net/cms-images/header-images/ois/lochan-urr-glen-etive?size=lg); "></div>
                <div class="banner-content-wrap">
                    <div class="container">
                        <div class="banner-content text-center">
                            <h2 class="banner-title">TRAVELLING AROUND THE WORLD</h2>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="home-banner-items">
                <div class="banner-inner-wrap" style="background-image: url(https://www.getyourguide.com/magazine/wp-content/migrated-content/uploads/2018/07/Highlands-blog-GetYourGuide.jpg);"></div>
                <div class="banner-content-wrap">
                    <div class="container">
                        <div class="banner-content text-center">
                            <h2 class="banner-title">EXPERIENCE THE NATURE'S BEAUTY</h2>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </section>
    <!-- Home slider html END -->
    @using (Html.BeginForm("Index", "Package", FormMethod.Get))
    {
        <div class="trip-search-section shape-search-section">
            <div class="slider-shape"></div>
            <div class="container">
                <div class="trip-search-inner white-bg d-flex">
                    <div class="input-group">
                        <label> Destination* </label>
                        <input type="text" name="search" placeholder="Enter Destination">
                    </div>
                    <div class="input-group  width-col">
                        <label> Price From* </label>
                        <input type="text" name="minPrice" placeholder="Min Price">
                    </div>
                    <div class="input-group  width-col-3">
                        <label> Price To* </label>
                        <input type="text" name="maxPrice" placeholder="Max Price">
                    </div>
                    <div class="input-group width-col-3">
                        <label> Check-in Date* </label>
                        <i class="far fa-calendar"></i>
                        <input class="input-date-picker" type="text" name="checkIn" placeholder="MM / DD / YY" autocomplete="off">
                    </div>

                    <div class="input-group width-col-3">
                        <label class="screen-reader-text"> Search </label>
                        <input type="submit" name="travel-search" value="Search">
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Home popular destinations html START -->
    <section class="destination-section">
        <div class="container">
            <div class="section-heading">
                <div class="row align-items-end">
                    <div class="col-lg-7">
                        <h5 class="dash-style">POPULAR DESTINATION</h5>
                        <h2>TOP DESTINATIONS</h2>
                    </div>
                    <div class="col-lg-5">
                        <div class="section-disc">
                            One planet. Endless possibilities. The most amazing destinations in the world are waiting for you. Whether you want to escape to a sun-soaked tropical paradise or envision stunning, snow-capped mountains before you, all you need to know is that Travele is beside you every step of the way.
                        </div>
                    </div>
                </div>
            </div>
            <div class="package-inner">
                <div class="row">
                    @foreach (var package in Model.TopDestinationsPackages)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="package-wrap">
                                <figure class="feature-image">
                                    <a href="/Package/Details/@package.PackageId">
                                        <img src=@package.MainPhoto style="object-fit:cover; width:365px ;height:305px " alt="">
                                    </a>
                                </figure>
                                <div class="package-price">
                                    <h6>
                                        <span>€ @package.FinalPrice() </span> / per person
                                    </h6>
                                </div>
                                <div class="package-content-wrap">
                                    <div class="package-meta text-center">
                                        <ul>
                                            <li>
                                                <i class="far fa-clock"></i>
                                                @($"{package.TripDuration +1} days / {package.TripDuration} nights")
                                            </li>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                @package.Destinations
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="package-content">
                                        <h3>
                                            <a href="#">@package.Title</a>
                                        </h3>
                                        <div class="review-area">
                                            @if (@package.Ratings.Count() == 0)
                                            {
                                            <span class="review-text">(No reviews with comment)</span>
                                            }
                                            else
                                            {
                                                <span class="review-text">(@package.Ratings.Count() reviews)</span>

                                            }
                                            @if (package.Ratings.Count != 0)
                                            {
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: calc(@package.AveragePackageRating()*20%)"></span>
                                                </div>
                                            }
                                        </div>
                                        <p>@package.Description</p>
                                        <div class="btn-wrap">
                                            <a href="@Url.Action("Buy", "Cart", new { id = package.PackageId})" class="button-text width-6">Add to Cart<i class="fas fa-arrow-right"></i></a>
                                            <a href="@Url.Action("Add","WishList",new { id = package.PackageId})" class="button-text width-6">Wishlist<i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="btn-wrap text-center">
                    <a href="/Destination/Index" class="button-primary">MORE DESTINATIONS</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Home popular destinations html END -->
    <!-- Home packages section html START -->
    <section class="package-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5 class="dash-style">EXPLORE GREAT PLACES</h5>
                        <h2>POPULAR PACKAGES</h2>
                        <p>Travel never stops. While a handful of bucket list destinations around the globe are always on travelers' radar a few are in the midst of or on the verge of going from hidden gems or forgotten destinations to tourist hotspots. Here are some of the most popular destinations.</p>
                    </div>
                </div>
            </div>
            <!--Here start POPULAR PACKAGES-->
            <div class="package-inner">
                <div class="row">
                    @foreach (var package in Model.PopularPackages)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="package-wrap" style="height:650px">
                                <figure class="feature-image">
                                    <a href="/Package/Details/@package.PackageId">
                                        <img src=@package.MainPhoto style="object-fit:cover; width:365px ;height:305px " alt="">
                                    </a>
                                </figure>
                                <div class="package-price">
                                    <h6>
                                        <span>€ @package.FinalPrice() </span> / per person
                                    </h6>
                                </div>
                                <div class="package-content-wrap">
                                    <div class="package-meta text-center">
                                        <ul>
                                            <li>
                                                <i class="far fa-clock"></i>
                                                @($"{package.TripDuration +1} days / {package.TripDuration} nights")
                                            </li>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                @package.Destinations
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="package-content">
                                        <h3>
                                            <a href="#">@package.Title</a>
                                        </h3>
                                        <div class="review-area">
                                            @if (@package.Ratings.Count() == 0)
                                            {
                                            <span class="review-text">(No reviews with comment)</span>
                                            }
                                            else
                                            {
                                                <span class="review-text">(@package.Ratings.Count() reviews)</span>
                                            }

                                            @if (package.Comments.Count != 0)
                                            {
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: calc(@package.AveragePackageRating()*20%)"></span>
                                                </div>
                                            }
                                        </div>
                                        <p>@package.Description</p>
                                        <div class="btn-wrap">
                                            <a href="@Url.Action("Buy", "Cart", new { id = package.PackageId})" class="button-text width-6">Add to Cart<i class="fas fa-arrow-right"></i></a>
                                            <a href="@Url.Action("Add","WishList",new { id = package.PackageId})" class="button-text width-6">Wishlist<i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="btn-wrap text-center">
                    <a href="/Package/Index" class="button-primary">VIEW ALL PACKAGES</a>
                </div>
            </div>
        </div>
    </section>
    <!-- packages html END -->
    <!-- Home callback section html START -->
    <!-- Home callback html END -->
    <!-- Home activity section html START -->
    <!-- Home activity html END -->
    <!-- Home special section html START -->
    <section class="special-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5 class="dash-style">TRAVEL OFFER & DISCOUNT</h5>
                        <h2>SPECIAL TRAVEL OFFER</h2>
                        <p>Connecting people and places is at the heart of what we do. And we pride ourselves on our superior selection of hotel and resort partners, as well as the outstanding rates and benefits that we are committed to curating.We continually create irresistible offers to remarkable destinations that are too amazing to miss.</p>
                    </div>
                </div>
            </div>
            <!--Here start the offers-->
            <div class="special-inner">
                <div class="row">
                    @foreach (var package in Model.PackageOffer)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="special-item">
                                <a href="~/Package/Details?id=@package.PackageId">

                                    <figure class="special-img">
                                        <img src="@package.MainPhoto" style="object-fit:cover; width:400px ;height:600px " alt="">
                                    </figure>
                                </a>
                                <div class="badge-dis">
                                    <span>
                                        <strong>@package.Discount%</strong>
                                        off
                                    </span>
                                </div>
                                <div class="special-content">
                                    <div class="meta-cat">
                                        <a href="#">@package.Destinations</a>
                                    </div>
                                    <h3>
                                        <a href="~/Package/Details?id=@package.PackageId">@package.Title</a>
                                    </h3>
                                    <div class="package-price">
                                        Price:
                                        <del>€@package.Price.ToString("N0")</del>
                                        <ins>€@package.FinalPrice()</ins>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="@Url.Action("Buy", "Cart", new { id = package.PackageId})" class="btn-outline-primary">Add to Cart<i></i></a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- special html END -->
    <!-- Home special section html START -->
    <section class="best-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h5 class="dash-style">YOUR BEST MOMENTS</h5>
                        <h2>BEST SHARED PHOTOS OF 2021</h2>
                        <p>We are glad to receive your photos sharing the best moments during your travel with us. If you want to share your experience with us, you can send them here.<br />E-mail: info@Travele.com</p>
                    </div>
                    <figure class="gallery-img">
                        <img style="object-fit: cover; width: 455px; height: 400px" src="~/Content/Images/Travellers/download.jpg" alt="">
                    </figure>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <figure class="gallery-img">
                                <img src="~/Content/Images/Travellers/Lisbon.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-sm-6">
                            <figure class="gallery-img">
                                <img src="~/Content/Images/Travellers/Travellers.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <figure class="gallery-img">
                                <img style="object-fit: cover; width: 655px; height: 510px" src="~/Content/Images/Travellers/Paris.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best html END -->
    <!-- Home awards START -->
    <div class="client-section">
        <div class="container">
            <div class="client-wrap client-slider secondary-bg">
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo1.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo2.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo3.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo4.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo5.png" alt="">
                    </figure>
                </div>
                <div class="client-item">
                    <figure>
                        <img src="~/Theme/TravelAgency/assets/images/logo2.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- Home awards END -->
    <!-- Home subscribe section html START -->
    <section class="subscribe-section" style="background-image: url(../../Theme/TravelAgency/assets/images/img16.jpg); height:620px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-heading section-heading-white">
                        <h4 class="dash-style">OUR BEST MOMENTS</h4>
                        <h2>AWARDS GIVE US MOTIVATION TO BE BETTER</h2>
                        <h4>Sign up now to receive all the latest news and offers for our tour packages !!</h4>
                        <div class="newsletter-form">
                            <form>
                                <input type="email" name="s" placeholder="Your Email Address">
                                <input type="submit" name="signup" value="SIGN UP NOW!">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe html END -->
    <!-- Home blog section html START -->
    <!-- blog html END -->
    <!-- Home testimonial section html START -->
    <br />
        <div class="container" style="height:380px">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonial-inner testimonial-slider">
                        @foreach (var comment in Model.TopComments)
                        {
                            <div class="testimonial-item text-center">
                                <figure class="testimonial-img">
                                    <img src="~/Theme/TravelAgency/assets/images/img20.jpg" alt="">
                                </figure>
                                <div class="testimonial-content">
                                    <p>@comment.CommentContent</p>
                                    <cite>
                                        @comment.ApplicationUser.FirstName  @comment.ApplicationUser.LastName
                                        <span class="company">Review for @comment.Package.Title</span>
                                    </cite>
                                </div>
                            </div>

                        }
                    </div>
                    </div>
                </div>
            </div>
    <!-- testimonial html END -->
    <!-- Home contact details section html START -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-img" style="background-image: url('../../Theme/TravelAgency/assets/images/img24.jpg'); ">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact-details-wrap">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img src="~/Theme/TravelAgency/assets/images/icon12.png" alt="">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">info@Travele.com</a>
                                        </li>
                                        <li>
                                            <a href="#">sales@Travele.com</a>
                                        </li>
                                        <li>
                                            <a href="#">career@Travele.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img src="~/Theme/TravelAgency/assets/images/icon13.png" alt="">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">+30 1645854</a>
                                        </li>
                                        <li>
                                            <a href="#">+30 1645855</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-details">
                                    <div class="contact-icon">
                                        <img src="~/Theme/TravelAgency/assets/images/icon14.png" alt="">
                                    </div>
                                    <ul>
                                        <li>
                                            117 41 Koukaki, Athens
                                        </li>
                                        <li>
                                            Leoforos Andrea Sigrou 32
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Home contact details section html END -->
</main>