<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="~/Theme/TravelAgency/admin/assets/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Theme/TravelAgency/admin/assets/css/bootstrap.min.css" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/admin/assets/css/all.min.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Theme/TravelAgency/assets/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/admin/style.css">
    <title>Travele | Travel & Tour HTML5 template </title>
</head>
<body>

    <!-- start Container Wrapper -->
    <div id="container-wrapper">
        <!-- Dashboard START-->
        <div id="dashboard" class="dashboard-container">
            <!-- Top Navigation Bar START-->
            @Html.Partial("~/Views/Shared/Admin/Components/_TopNavigationBar.cshtml")
            <!-- Top Navigation Bar END-->
            <!-- Dashboard Navigation Bar Start-->
            @Html.Partial("~/Views/Shared/Admin/Components/_DashboardNavigationBar.cshtml")
            <!-- Dashboard Navigation Bar END-->
            <!-- Content Non-Static/ START -->
            @RenderBody()
            <!-- Content Non-Static / End -->
            <!-- Footer START -->
            @Html.Partial("~/Views/Shared/Admin/Components/_Footer.cshtml");
            <!-- Footer END -->
        </div>


        <!-- Dashboard / End -->
    </div>
    <!-- end Container Wrapper -->
    <!-- *Scripts* -->

    <script src="~/Theme/TravelAgency/admin/assets/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/canvasjs.min.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/chart.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/counterup.min.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/jquery.slicknav.js"></script>
    <script src="~/Theme/TravelAgency/admin/assets/js/dashboard-custom.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>