@model Entities.Models.ReplyComment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Client/_ClientLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReplyComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment.CommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment.CommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyPostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyPostTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReplyCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
