@model Entities.Models.ReplyComment

@{
    Layout = "~/Views/Shared/Client/_ClientLayout.cshtml";
}


<div id="page" class="full-page">
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <div class="inner-baner-container" style="background-image: url(/Theme/TravelAgency/admin/assets/images/img26.jpg);">
            @*<div class="inner-baner-container" style="background-image: url(@ViewBag.Photo);">;">*@

        </div>
        <div class="inner-shape"></div>

        <div class="db-info-wrap db-add-tour-wrap" style="height:300px;">
            <div class="col-lg-12 col-xl-12">

                @using (Html.BeginForm("UserReply", "ReplyComment", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="custom-field-wrap">

                        <div class="col-lg-2 col-xl-4">
                            <div class="form-group" style="height:100px;">

                                <strong class="control-label col-md-2">Type your reply for here....</strong>
                                
                                <div class="form-group">
                                    <textarea id="ReplyContent" name="ReplyContent" rows="4"></textarea>

                                    @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Post" class="btn btn-default" />
                                        @Html.ActionLink("Back to List", "Index", "Package")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        </main>
</div>
