@model Entities.Models.ViewModels.DashboardViewModel


@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="db-info-wrap">
    <!-- Top Row With Statistics START-->
    <div class="row">
        <!-- Item -->
        <div class="col-xl-4 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-blue">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Today Bookings</h4>
                    <h5>@Model.TodayBookings.Count</h5>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-xl-4 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-green">
                    <i class="fas fa-euro-sign"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Earnings</h4>
                    <h5>@Model.Earnings</h5>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-xl-4 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-purple">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Users</h4>
                    <h5>@Model.Users.Count</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Row With Statistics END-->
    <!-- Recent Booking & Package Enquiry START-->
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box table-opp-color-box">
                <h4>Recent Bookings</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Booking Date</th>
                                <th>Destination</th>
                                <th>Trip Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.RecentBookings)
                            {
                                foreach (var package in booking.Packages)
                                {
                                    <tr class="package">
                                        <td>@booking.BookingId</td>
                                        <td>
                                            <span>@booking.FirstName @booking.LastName</span>
                                        </td>
                                        <td>@booking.PurchaseDate.ToString("dd/MM/yyyy")</td>
                                        <td>@package.Destinations</td>
                                        <td>@package.TripDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Booking & Package Enquiry  END-->
    <!-- User Details START-->
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box">
                <h4>User Details</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Bookings</th>
                                <th>Reviews</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                            <tr>
                                <td>
                                    <a href="#"><span class="list-name">@user.UserName</span></a>
                                </td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Email</td>
                                <td>@user.Country</td>

                                @if (user.Bookings != null)
                                {
                                    <td>
                                        <span class="badge badge-success">@user.Bookings.Count</span>
                                    </td>
                                }
                                else
                                {

                                    <td>
                                        <span class="badge badge-success">@user.Comments</span>
                                    </td>
                                }
                                <td>
                                    <span class="badge badge-dark"></span>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- User Details END-->
    <!--  Reports START-->
    <div class="row">
        <!-- Reports START-->
        <!-- Reports END-->
    </div>
    <!--  Reports END-->
    <!--Bottom Charts & Statistics START-->
    <div class="row">
        <!-- Site Traffic -->
        <div class="col-lg-4">
            <div class="dashboard-box chart-box">
                <h4>Site Traffic</h4>
                <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            </div>
        </div>
        <!-- Bar Chart -->
        <div class="col-lg-4">
            <div class="dashboard-box chart-box">
                <h4>Bar Chart</h4>
                <div id="barchart" style="height: 250px; width: 100%;"></div>
            </div>
        </div>
        <!-- Search Engine -->
        <div class="col-lg-4 chart-box">
            <div class="dashboard-box">
                <h4>Search Engine</h4>
                <div id="piechart" style="height: 250px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <!--Bottom Charts & Statistics END-->
</div>