@model IEnumerable<Entities.Models.Package>

@{
    Layout = "~/Views/Shared/Client/_ClientLayout.cshtml";
}

<div id="page" class="full-page">
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/Content/Images/Backgrounds/40-img.jpg); background-position:center">
                <div class="container">
                    <div class="inner-banner-content">
                        <h1 class="inner-title">Tour Packages</h1>
                    </div>
                </div>
            </div>
            <div class="inner-shape"></div>
        </section>
        <!-- Inner Banner html end-->
        <!-- packages html start -->
        <div class="package-section">
            <div class="container">
                <div class="package-inner">
                    <div class="row ">
                        @foreach (var package in Model)
                        {
                            <div class="col-lg-4">
                                <div class="package-wrap">
                                    <figure class="feature-image">
                                        <a href="/Package/Details/@package.PackageId">
                                            <img src=@package.MainPhoto style="object-fit:cover; width:365px ;height:305px " alt="">
                                        </a>

                                    </figure>
                                    @if (package.Discount != 0)
                                    {
                                        <div class="package-price">
                                            <h6>
                                                <span> @package.Discount% </span>Discount
                                                <br />

                                                <span>€@package.FinalPrice() </span> / per person

                                            </h6>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="package-price">
                                            <h6>
                                                <span>€@package.FinalPrice() </span> / per person
                                            </h6>
                                        </div>
                                    }

                                    <div class="package-content-wrap">
                                        <div class="package-meta text-center">
                                            <ul>
                                                <li>
                                                    <i class="far fa-clock"></i>
                                                    @($"{package.TripDuration +1} days / {package.TripDuration} nights")
                                                </li>
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    @package.Destinations
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="package-content">
                                            <h3 class="package-title" title="@package.Title">
                                                <a href="/Package/Details/@package.PackageId">@package.Title</a>
                                            </h3>
                                            <h5> @package.TripDate.ToShortDateString() </h5>
                                            <div class="review-area">
                                                @if (package.Comments.Count == 0)
                                                {
                                                    <span class="review-text">(No reviews)</span>
                                                }
                                                else
                                                {
                                                    <span class="review-text">(@package.Comments.Count() reviews)</span>
                                                }
                                                <br />
                                                @if (package.Comments.Count != 0)
                                                {
                                                    <div class="rating-start" title="Rated @package.AveragePackageRating() out of 5">
                                                        <span style="width: calc(@package.AveragePackageRating()*20%)"></span>
                                                    </div>
                                                }

                                            </div>
                                            <p>@package.Description</p>
                                            <div class="btn-wrap">
                                                <a href="@Url.Action("Buy", "Cart", new { id = package.PackageId})" class="button-text width-6">Add to Cart<i class="fas fa-arrow-right"></i></a>
                                                <a href="@Url.Action("Add","WishList",new { id = package.PackageId})" class="button-text width-6">Wishlist<i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id="pagination-container" class="light-theme simple-pagination">
                <ul>
                    <li class="active"><span class="current prev">«</span></li>
                    <li class="active"><span class="current">1</span></li>
                    <li><a href="#page-2" class="page-link">2</a></li>
                    <li><a href="#page-2" class="page-link next">»</a></li>
                </ul>
            </div>

        </div>
        <!-- packages html end -->
    </main>
</div>

@section scripts{
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
    <script src="http://flaviusmatis.github.io/simplePagination.js/"></script>
    <script type="text/javascript">
        var items = $(".package-inner .row .col-lg-4");
        var numItems = items.length;
        var perPage = 6;

        items.slice(perPage).hide();

        $('#pagination-container').pagination({
            items: numItems,
            itemsOnPage: perPage,
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
    </script>

} 