@model IEnumerable<Entities.Models.Comment>

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>

<div class="db-info-wrap db-comment-wrap">
    <h4>Comments List</h4>

    <p>Our Customer's Comments</p>

    @foreach (var com in Model)
    {
        <div class="dashboard-box">
            <div class="comment-area">
                <div class="comment-area-inner">
                    <ol>
                        <li>
                            <div class="comment-content">
                                <div class="comment-header">
                                    <h4 class="author-name">@com.ApplicationUser.FirstName @com.ApplicationUser.LastName</h4>
                                    <span class="post-on">@com.PostTime</span>
                                </div>
                                <h5 class="comment-title"><span>comment on:</span>@com.Package.Title</h5>
                                <p>@com.CommentContent</p>
                                <div class="comment-detail">

                                    <a href="/ReplyComment/Create/@com.CommentId" class="btn btn-info btn-default">Post Reply</a>
                                    <a href="/Comment/Delete/@com.CommentId" class="btn btn-info btn-danger">Remove Comment</a>

                                </div>
                            </div>
                        </li>


                        @if (com.ReplyComments != null)
                        {

                            foreach (var reply in com.ReplyComments)
                            {
                               
                                    <li>
                                        <div class="comment-content">
                                            <div class="comment-header">
                                                @*<h4 class="author-name">@reply.ApplicationUser.FirstName @reply.ApplicationUser.LastName</h4>*@
                                                <span class="post-on">@reply.ReplyPostTime</span>
                                            </div>
                                            <h5 class="comment-title"><span>comment on:</span>@com.Package.Title</h5>
                                            <p>@reply.ReplyContent</p>
                                            <div class="comment-detail">

                                                <a href="/ReplyComment/Create/@com.CommentId" class="btn btn-info btn-default">Post Reply</a>
                                                <a href="/ReplyComment/Delete/@reply.ReplyCommentId" class="btn btn-info btn-danger">Remove Comment</a>
                                                
                                            </div>
                                        </div>
                                    </li>
                              

                            }
                        }

                    </ol>
                </div>
            </div>
        </div>
    }
    <div class="pagination-wrap">
        <nav class="pagination-inner">
            <ul class="pagination disabled">
                <li class="page-item"><span class="page-link"><i class="fas fa-chevron-left"></i></span></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

